/* You can add global styles to this file, and also import other style files */
@import './styles/variables';
@import './styles/mixins';
@import './styles/utilities';
@import './styles/animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-color;
  color: $text-color;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
